---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

{% assign orals   = site.talks | where: "category", "orals" %}
{% assign posters = site.talks | where: "category", "posters" %}
{% assign invited = site.talks | where: "category", "invited" %}

{% if orals.size > 0 %}
  <h2>Oral Presentations</h2><hr />
  {% for post in orals reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}

{% if posters.size > 0 %}
  <h2>Poster Presentations</h2><hr />
  {% for post in posters reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}

{% if invited.size > 0 %}
  <h2>Invited Talks</h2><hr />
  {% for post in invited reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}
